apiVersion: v1
kind: Secret
metadata:
  name: ad-svc-account-password
  namespace: vault
type: Opaque
stringData:
  # WARNING: DO NOT CHECK REAL PASSWORDS INTO GIT
  bindpass: |
    {
      "bindpass": "new-rotated-bind-password"
    }
