apiVersion: v1
kind: Secret
metadata:
  name: vault-creds
  namespace: vault
type: Opaque
stringData:
  # WARNING: DO NOT CHECK REAL TOKENS INTO GIT
  credentials: |
    {
      "token_name": "vault-creds-test-token",
      "token": "INSERT_VAULT_OPERATOR_INIT_OR_DERIVED_TOKEN"
    }
    # Approle login example
    #{
    #  "auth_login": {
    #    "path": "auth/approle/login"
    #    "parameters": {
    #      "role_id": ""
    #      "secret_id": ""
    #    }
    #  }
    #}
