apiVersion: v1
kind: Secret
metadata:
  name: vault-creds
  namespace: vault
type: Opaque
stringData:
  // WARNING: DO NOT CHECK REAL TOKENS INTO GIT
  credentials: |
    {
      "token_name": "vault-creds-test-token",
      "token": "hvs.gWLTHMayCJ5FrNhTix684Bly"
    }
